<header id="header">
    <div class="header-content clearfix">
        <a class="logo"(click)="goToSegment('mainPage')">Cable Trash Cast</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><a (click)="goToSegment('mainPage')">Main</a></li>
                <li><a (click)="goToSegment('membersPage')">Members</a></li>
                <li><a (click)="goToSegment('episodesPage')">Episodes</a></li>
                <li><a (click)="goToSegment('merchPage')">Merch</a></li>
            </ul>
        </nav>
    </div>
</header>