<header id="header">
    <div class="header-content clearfix">
        <a class="logo" routerLink="">Cable Trash Cast</a>
        <nav class="navigation" role="navigation">
            <ul class="primary-nav">
                <li><a routerLink="main" routerLinkActive="active">Main</a></li>
                <li><a routerLink="episodes" routerLinkActive="active">Episodes</a></li>
                <li><a routerLink="members" routerLinkActive="active">Members</a></li>
                <li><a routerLink="merch" routerLinkActive="active">Merch</a></li>
            </ul>
        </nav>
        <a routerLink="" class="nav-toggle">Menu<span></span></a>
    </div>
</header>