<app-header></app-header>
<img src="../../assets/images/tittleCard_upgraded.png" alt="Italian Trulli" style="width: 100%; height: 30%;">
<br>

<div class="center-object">
<app-main-page id="mainPage"></app-main-page>
<app-members-page id="membersPage"></app-members-page>
<app-episode-page id="episodesPage"></app-episode-page>
<app-merch-page id="merchPage"></app-merch-page>
</div>


<!-- npm install -g angular-cli-ghpages
ng build --prod --base-href "https://<username>.github.io/<project name>/</project>/"
  ngh --dir docs -->