<div>
    <h2 style="text-align: center;">Meet the crew</h2>
    <div style="display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;">
        <app-profile-card [name]="'Occult Tooner'" [links]="'jfghj'"></app-profile-card>
        <app-profile-card [name]="'Pale Iguana'" [links]="'jfghj'"></app-profile-card>
        <app-profile-card [name]="'Alex The Menace'" [links]="'jfghj'"></app-profile-card>
        <app-profile-card [name]="'Alex Likes Toons'" [links]="'jfghj'"></app-profile-card>
        <app-profile-card [name]="'Royal Foil'" [links]="'jfghj'"></app-profile-card>
    </div>
</div>