<div class="card">
  <img src={{image}} alt="John" style="width:100%">
  <h1>{{name}}</h1>
  <p class="title">{{role}}</p>
  <div style="margin: 24px 0;">

    <a *ngIf="links.twitter!==undefined" href={{links.twitter}} target="_blank"><i class="fa fa-twitter"></i></a>
    <a *ngIf="links.twitch!==undefined" href={{links.twitch}} target="_blank"><i class="fa fa-twitch"></i></a>
    <a *ngIf="links.youtube!==undefined" href={{links.youtube}} target="_blank"><i class="fa fa-youtube"></i></a>
    <a *ngIf="links.instagram!==undefined" href={{links.instagram}} target="_blank"><i class="fa fa-instagram"></i></a>
    <a *ngIf="links.soundcloud!==undefined" href={{links.soundcloud}} target="_blank"><i
        class="fa fa-soundcloud"></i></a>
    <a *ngIf="links.kofi!==undefined" href={{links.kofi}}><i class="fa fa-at"></i></a>
    <a *ngIf="links.redbuble!==undefined" href={{links.redbuble}}><i class="fa fa-at"></i></a>

  </div>
  <p><button>Contact</button></p>
</div>