<div>
    <h2 style="text-align: center;">Kofi and Merch</h2>
    <section style="text-align: center;">
        <a href="https://ko-fi.com/occulttooner">Ko-Fi</a>
        <br>
        <a  href="https://www.redbubble.com/i/sticker/Cable-Trash-Cast-Old-Tv-by-zxandungoTV/79754856.EJUG5"><i class="fa fa-at"></i>Sticker1</a>
        <br>
        <a  href="https://www.redbubble.com/i/sticker/Cable-Trash-Cast-logo-by-zxandungoTV/79827187.EJUG5"><i class="fa fa-at"></i>Sticker2</a>

    </section>
</div>
